<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
            <group id="novaposhtabranch" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Nova Poshta Branch</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                    <label>Title</label>
                    <validate>required-entry</validate>
                </field>
                <field id="name" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                    <label>Name</label>
                    <validate>required-entry</validate>
                </field>
                <field id="price" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="1" showInWebsite="1">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>
                <field id="free_shipping_enable" translate="label" type="select" sortOrder="63" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Free Shipping Threshold</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="free_shipping_subtotal" translate="label" type="text" sortOrder="64" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Free Shipping Amount Threshold</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="free_shipping_enable">1</field>
                    </depends>
                </field>
                <field id="cod_methods" translate="Module" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cash on delivery</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Dragonfly\NovaposhtaBranch\Model\Config\Source\PaymentMethod</source_model>
                    <comment>The payment methods selected above will be considered as cash on delivery (for Packeta).</comment>
                </field>
                <field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="9000" translate="label" type="text">
                    <label>Sort Order</label>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Displayed Error Message</label>
                </field>
            </group>
        </section>
    </system>
</config>
